<div class="d-flex flex-column mt-auto">
  <div class="text-center user-select-none">
    <div
      id="btn-rotate"
      colspan="5"
      class="pt-3 pb-3 {{ getRotateBtnClassName() }}"
      role="button"
      (click)="handleRotate()"
    >
      <i class="fas fa-rotate-right fa-2xl"></i>
    </div>
  </div>
  <div id="options" class="d-flex">
    <app-toolbox-option
      *ngFor="let tool of tools"
      id="option-{{ tool.name }}"
      [tool]="tool"
      class="{{ getToolClassName(tool.name) }}"
    ></app-toolbox-option>
  </div>
</div>
