<div
  (mouseenter)="handleMouseEnter()"
  (mouseleave)="handleMouseLeave()"
  class="bg-white"
>
  <div *ngIf="preview && selectedTool">
    <img
      *ngIf="selectedTool.desc"
      src="assets/images/pipe-{{ selectedTool.name }}.png"
      alt="{{ selectedTool.desc }} pipe element"
      attr.data-orientation="{{ selectedTool.orientation ?? 0 }}"
      class="preview"
      (click)="handlePlace()"
    />
    <img
      *ngIf="pipe?.name && !selectedTool.desc"
      src="assets/images/pipe-{{ pipe?.name }}.png"
      alt="{{ pipe?.desc }} pipe element"
      attr.data-orientation="{{ pipe?.orientation ?? 0 }}"
      class="preview-delete"
    />
  </div>
  <img
    *ngIf="!(preview && selectedTool) && pipe"
    src="assets/images/pipe-{{ pipe.name }}.png"
    alt="{{ pipe.desc }} pipe element"
    attr.data-orientation="{{ pipe.orientation }}"
  />
</div>
