app-square {
  border: 1px gray solid;
  width: 130px;
  height: 130px;
}

.add-cols-btn {
  width: 40px;
}

.add-rows-btn {
  height: 36.95px;
  margin-right: 36.95px;
}

.hoverable {
  cursor: pointer;
}