<h1>Pipe Designer</h1>
<main class="d-flex flex-column">
  <div class="d-flex">
    <div class="container p-0 {{ getSelectedTool() ? 'hoverable' : '' }} ">
      <div
        *ngFor="let _ of [].constructor(rows); index as row"
        class="d-flex"
        id="row-{{ row }}"
      >
        <app-square
          class="col bg-light box d-flex align-items-center justify-content-center"
          *ngFor="let _ of [].constructor(columns); index as col"
          id="col-{{ col }}"
          (click)="onClick(row, col)"
          [pipe]="pipes?.[row]?.[col]"
          [tools]="tools"
        >
        </app-square>
      </div>
    </div>
    <app-grid-add-btn
      class="btn col text-white bg-secondary add-cols-btn"
      (click)="handleAdd('column')"
    ></app-grid-add-btn>
  </div>
  <div class="d-flex">
    <app-grid-add-btn
      class="btn text-white bg-secondary add-rows-btn flex-fill"
      (click)="handleAdd('row')"
    ></app-grid-add-btn>
  </div>
</main>
<div class="d-flex justify-content-center">
  <button (click)="reset()" class="mt-2 w-25">Reset</button>
</div>
